<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>VoteDigital</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>



    <!-- <link rel="stylesheet" href="http://votedigital.net/assets/css/style-starter.css"> -->

  </head>

  <body>
     <!-- <h1>Hello World!!!</h1> -->
    </body>

  </html>
