	<% flash.each do |key, value| %>
		<div align="center" id="flash" class="alert alert-<% if key.to_s == 'notice' %><%= 'info' %><% elsif key.to_s == 'success' %><%= 'success' %><% else key.to_s == 'danger' %><%= 'danger' %><% end %>">
			<button aria-hidden="true" data-dismiss="alert" class="close" type="button">
				×
			</button>
			<%= value %>
		</div>
		<% end %>